.box-login {
    width: 350px;
    height: auto;
    padding: 32px;
    display: block;
    background-color: #ffffff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

#btn {
	font-size: 20px;
	letter-spacing: 0.05em;
	color: #777777;
	width: 100%;
	padding: 8px;
	border-radius: 20px;
	background-color: #777777;
	border: solid 2px #fff;
}